language: php

php:
  - 7.2
  - 7.3
  - 7.4

before_script:
  - travis_retry composer self-update 1.10.10
  - travis_retry composer install --prefer-source --no-interaction

script: ./vendor/bin/phpunit

branches:
  only:
    - master
